@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------- */

:root {
    --dark-blue: #22223b;
    --smoky-grape: #4a4e69;
    --purple-gray: #9a8c98;
    --light-pink: #c9ada7;
    --white: #f2e9e4;
    --button-hover: #26263e;
}

body {
    background-color: var(--smoky-grape);
    color: var(--white);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

[class*="__container"] {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.header,
.footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
}
.header__title {
    font-size: 35px;
}
.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-top: clamp(0rem, 6.2447rem + -15.2542vw, -2.8125rem);
    padding: 20px 0;
}

.main__container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.main__buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main__button {
    padding: 15px 60px;
    background-color: var(--dark-blue);
    color: var(--white);
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s ease all;
}

.main__button--active {
    box-shadow: 0px 0px 27px -4px #000000;
}

.main__button:hover {
    background-color: var(--button-hover);
    font-size: 26px;
    padding: 17px 62px;
}

.main__list {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-content: center;

    position: relative;
}

[class*="list--"]::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 10px;
    background-color: var(--white);
}

.list--left-column::after {
    left: 15%;
}

.list--center-column::after {
    left: 48.5%;
}

.list--right-column::after {
    right: 15%;
}

[class$="-row"]::after {
    transform: rotate(90deg);
    left: 50%;
}

.list--first-row::after {
    top: -35%;
}

.list--third-row::after {
    top: 35%;
}

[class$="-diagonal"]::after {
    left: 50%;
    height: 130%;
}

.list--right-diagonal::after {
    transform: rotate(45deg);
    top: -16.7%;
}

.list--left-diagonal::after {
    transform: rotate(-45deg);
    top: -14.5%;
}

.list__item {
    display: grid;
    place-items: center;
    text-transform: uppercase;

    font-size: 100px;
}

.list__item--border-right {
    border-right: 7px solid var(--white);
}

.list__item--border-bottom {
    border-bottom: 7px solid var(--white);
}

.footer {
    min-height: 85px;
}
.title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.footer__link {
    font-weight: 700;
    transition: 0.3s ease all;
}

.footer__link:hover {
    font-size: 22px;
    color: #ffffff;
}
